*{
	padding: 0;
	margin: 0;
}
.wrapper{
	margin: 0 auto;
	width: 980px;
	height: auto;
	margin: 0 auto;
}
/*css phần 1*/
.wrapper .head{
	width: 100%;
	height: 120px;
	background: #191a1c;
	border-bottom: 5px solid orangered;
	position: relative;
}
.wrapper .head .img{
	width: 190px;
	height: 97px;
	/* background: blue; */
	position: absolute;
	left: 8%;
}
.wrapper .head .img img{
	width: 190px;
	height: 100%;
	padding-top: 3%;
}
.wrapper .head .menu{
	width: 60%;
	height: 40px;
	/* background: green; */
	position: absolute;
	top: 35%;
	right: 4%;
}
.wrapper .head .menu ul{
	list-style: none;
	width: 100%;
	height: 100%;
}
.wrapper .head .menu ul li{
	float: left;
	display: block;
	width: 15%;
	height: 100%;
	text-align: center;
	/* background: silver; */
	position: relative;
	margin-right: 2%;
}
.wrapper .head .menu ul li a{
	text-decoration: none;
	font-size: 14px;
	color: white;
	/*background: gray;*/
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Dosis';
	line-height: 40px;
}
.wrapper .head .menu ul li:hover{
	display: block;
	float: left;
	width: 15%;
	height: 100%;
	background: #0b0b0c;
	text-align: center;
}
.wrapper .head .menu ul li a:hover{
	color: #ef9e0f;
}
.wrapper .head .menu ul li.home{
	display: block;
	width: 10%;
	height: 100%;
	background: #0b0b0c;
}
.wrapper .head .menu ul li.home a{
	color: #ef9e0f;
}
.wrapper .head .menu ul li ul{
	display: none;
	z-index: 2;
	position: absolute;
	left: 0;
}
.wrapper .head .menu ul li:hover ul{
	display: block;
}
.wrapper .head .menu ul li ul li{
	display: block;
	width: 200%;
	height: 40px;
	background: #191a1c;
	box-shadow: 2px 2px black;
}
.wrapper .head .menu ul li ul li:hover{
	display: block;
	width:200%;
	height: 40px;
	background: #191a1c;
}
.wrapper .head .menu ul li ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	text-align: left;
	line-height: 40px;
	font-size: 12px;
	padding-left: 10%;
}
.wrapper .head .menu ul li ul li a:hover{
	padding-left: 15%;
	color: white;
}
.wrapper .head .tinynav{
	display: none;
}
.wrapper .slideshow{
	width: 100%;
	height:450px;
	background-image: url('../icons/pexels-photo-255377.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.wrapper .slideshow .pic1{
	display: block;
	width: 30%;
	height: 100%;
	/* background: cyan; */
	position: absolute;
	z-index: 3;
	right: 6%;
}
.wrapper .slideshow .pic1 img{
	width: 100%;
	height: 90%;
	padding-top:45px;
}
.wrapper .slideshow .pic2{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
.wrapper .slideshow .pic2 img{
	width: 100%;
	height: 100%;
	padding-left: 10%;
}
.wrapper .slideshow h1{
	display: block;
	width: 55%;
	height: 60px;
	background: black;
	color: white;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 55px;
	position: absolute;
	top: 28%;
	left: 5%;
	z-index: 5;
}
.wrapper .slideshow h2{
	display: block;
	width: 32%;
	height: 40px;
	background: white;
	color: #FFD700;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	font-size: 38px;
	position: absolute;
	left: 5%;
	top: 41.4%;
	z-index: 5;
}
.wrapper .slideshow .content{
	position: absolute;
	left: 7%;
	bottom: 12%;
	z-index: 5;
}
.wrapper .slideshow .content p{
	display: block;
	width: auto;
	height: 25px;
	/* background: white; */
	background-image: url('../icons/fast-forward-double-right-arrows (1).png');
	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: bottom 5px left 10px;
	text-align: left;
	line-height: 25px;
	color: black;
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 5px;
	padding-left: 25px;
}
/*css phần 2*/
.wrapper .tagline{
	clear: both;
	width: 100%;
	height: 156px;
	background: #231f20;
}
.wrapper .tagline .cont_pad1{
	width: 96%;
	margin: 0 auto;
	padding: 20px 0;
	/*background: #231f20;*/
}
.wrapper .tagline h2{
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	color: orange;
	margin: 0 0 20px 0;
	line-height: normal;
}
.wrapper .tagline h1{
	font-size: 60px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 0 0 10px 0;	
}
.wrapper .content2{
	width: 100%;
	height: 450px;
	background: #000;
}
.wrapper .content2 .cont_pad2{
	position: relative;
    width: 96%;
    margin: 0 auto;
}
.wrapper .content2 .cont_pad2 .box2{
	width: 215px;
	float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.wrapper .content2 .cont_pad2 .box2 img{
	background-color: #231f20;
	border-radius: 30px;
	float: left;
    margin-right: 5px;
}
.wrapper .content2 .cont_pad2 .box2 h3{
	/*float: left;*/
	color: #ef9e0f;
	margin: 10px 0px 25px 0;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
    line-height: normal;
}
.wrapper .content2 .cont_pad2 .box2 p{
	line-height: 22px;
    color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 a{
	padding: 8px 32px;
	background-color: #231f20;
	display: inline-block;
    /*padding: 3px 8px;*/
    margin: 22px 0 0 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
.wrapper .content2 .cont_pad2 .box2 h2{
	font-size: 24px;
    margin: 20px 0 20px 0;
    font-weight: 400;
    line-height: normal;
    color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 strong{
	color: #fff;
	font-weight: bold;
}
.wrapper .content2 .cont_pad2 .box2 h6{
	float: left;
	color: #7a7a7a;
	font-weight: bold;
}
.wrapper .content2 .cont_pad2 .box2 a.col{
	color: #ef9e0f;
	background: transparent;
	padding: 3px 8px;
}
.wrapper .content2 .cont_pad2 .box2 a.col:hover{
	color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 a:hover{
	color: orange;
}
/*.wrapper .content2 .cont_pad2 .last-col{
	margin-bottom: 0px;
}*/
/*css phần 3*/
.wrapper .recent{
	width: 100%;
	height: 350px;
	background: #000;
	position: relative;
}
.wrapper .recent h3{
	font-size: 30px;
	position: absolute;
	top: 5px;
	color: #ea8c00;		
}
.wrapper .recent ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
}
.wrapper .recent ul li{
	position: absolute;
	width:24%;
	height: 240px;
	bottom: 40px;
}
.wrapper .recent ul li.l2{
	position: absolute;
	left: 25.4%;
}
.wrapper .recent ul li.l3{
	position: absolute;
	left: 50.8%;
}
.wrapper .recent ul li.l4{
	position: absolute;
	left: 76.1%;
}
.wrapper .recent ul li img{
	position: absolute;
	width:100%;
	height: 100%;
	position: relative;
}
.wrapper .recent ul li p.lou{
	width: 100%;
	height: 40px;
	background:#33363a;
	position: absolute;
	font-size: 20px;
	bottom: 0px;
	color: white;
	border-bottom: 2px solid #efb943;
	line-height: 40px;
}
.wrapper .recent ul li .contents1{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background:#33363a;
	top: -101.8%;
	position: relative;
/*	transition: 8s;*/
}
.wrapper .recent ul li .contents1 p.p1{
	position: absolute;
	left: 10px;
	font-size: 25px;
	color: white;
}
.wrapper .recent .contents1 p.p2a{
	position: absolute;
	left: 10px;
	top: 60px;
	font-size: 15px;
	color: white;
}
.wrapper .recent .contents1 p.p2b{
	position: absolute;
	top: 60px;
	left: 90px;
	font-size: 17px;
	color: white;
}
.wrapper .recent .contents1 p.p3a{
	position: absolute;
	left: 10px;
	top: 105px;
	font-size: 15px;
	color: white;
}
.wrapper .recent .contents1 p.p3b{
	position: absolute;
	top: 105px;
	left: 90px;
	font-size: 17px;
	color: white;
}
.wrapper .recent ul li .contents1 p.p4{
	position: absolute;
	left: 10px;
	top: 130px;
	font-size: 15px;
	color: white;
}
.wrapper .recent ul li .contents1 a{
	position: absolute;
	top: 130px;
	left: 90px;
	font-size: 17px;
	color: #efb943;
}
.wrapper .recent ul li .contents1 .a, .b{
	position: absolute;
	width: 35px;
	height: 35px;
	border: 7px solid white;
	border-radius: 50%;
	bottom: 5px;
	left: 10px;
}
.wrapper .recent ul li .contents1 .b{
	left: 65px;
}
.wrapper .recent ul li .contents1 .a .a1, .a2{
	position: absolute;
	width: 25px;
	height: 7px;
	background:white;
	top: 14px;
	left: 5px;
}
.wrapper .recent ul li .contents1 .b .b1{
	position: absolute;
	width: 27px;
	height: 5px;
	background:white;
	border-radius: 5px;
	top: 15px;
	left: 5px;
	transform: rotate(-50deg);
}
.wrapper .recent ul li .contents1 .a .a2{
	transform: rotate(90deg);
}
.wrapper .recent ul li:hover .contents1{
	display: block;
}
/*css phần 4*/
@media screen and (max-width: 768px){
	.wrapper{
		width: 100%;
	}
/*css phần 1*/
	.wrapper .head{
		width: 100%;
	}
	.wrapper .head .img{
		width: 22%;
		left:0;
	}
	.wrapper .head .menu{
		width: 65%;
		right: 0;
	}
	.wrapper .slideshow{
		width: 100%;
	}
	.wrapper .slideshow h1{
		font-size: 42px;
	}
	.wrapper .slideshow h2{
		font-size: 30px;
	}
	.wrapper .slideshow .content{
		bottom: 17%;
	}
	.wrapper .slideshow .content p{
		font-size: 18px;
		font-weight: bold;
	}
/*css phần 2*/
	.wrapper .tagline{
		height: 120px;
    	text-align: center;
	}
	.wrapper .tagline .cont_pad1{
		width: 420px;
	}
	.wrapper .tagline .cont_pad1 h2{
		font-size: 20px;
   		font-weight: normal;
	}
	.wrapper .tagline .cont_pad1 h1{
		font-size: 30px;
    	font-weight: normal;
    	line-height: 20px;
	}
	.wrapper .content2{
		width: 100%;
		height: 1100px;
	}
	.wrapper .content2 .cont_pad2{
		width: 420px;
	}
	.wrapper .content2 .cont_pad2 .box2{
		margin-bottom: 30px;
		width: 100%;
	}
	.wrapper .recent{
		width: 100%;
		clear: both;
	}
/*css phần 3
/*css phần 4*/
}
@media screen and (max-width: 480px){
	.wrapper{
		width: 100%;
		height: 2000px;
	}
/*css phần 1*/
	.wrapper{
		width: 100%;
	}
	.wrapper .head{
		width: 100%;
		height: 160px;
	}
	.wrapper .head .img{
		width: 50%;
		left: 25%;
	}
	.wrapper .head .img img{
		width: 100%;
		height: 110px;
	}
	.wrapper .head .menu{
		display: none;
	}
	.wrapper .head .tinynav{
		position: absolute;
		display: block;
		width: 275px;
		height: 28px;
		left: 10%;
		bottom: 10%;
		padding-left: 10px;
	}
	.wrapper .slideshow{
		width: 100%;
	}
	.wrapper .slideshow .pic1{
		display: block;
		width: 36%;
		right: 2%;
	}
	.wrapper .slideshow h1{
		font-size: 26px;
		left: 2%;
	}
	.wrapper .slideshow h2{
		font-size: 18px;
		left: 2%;
	}
	.wrapper .slideshow .content{
		bottom: 20%;
		left: 4%;
	}
	.wrapper .slideshow .content p{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 0px;
	}
/*css phần 2*/
	.wrapper .tagline{
    	text-align: center;
	}
	.wrapper .tagline .cont_pad1{
		width: 300px;
	}
	.wrapper .tagline .cont_pad1 h2{
		font-size: 18px;
   		font-weight: normal;
	}
	.wrapper .tagline .cont_pad1 h1{
		font-size: 24px;
    	font-weight: normal;
    	line-height: 24px;
	}
	.wrapper .content2{
		width: 100%;
		height: 1150px;
	}
	.wrapper .content2 .cont_pad2{
		width: 400px;
		margin-left: 25px;
	}
/*css phần 3*/
	.wrapper .recent{
		height: 1080px;
	}
	.wrapper .recent h3{
		left: 18%;
		font-size: 20px;
	}
	.wrapper .recent ul{
		position: absolute;	
		top:-200px;
		width: 70%;
		height: 100%;	
	}
	.wrapper .recent ul li{
		width:100%;
		height: 230px;
	}
	.wrapper .recent ul li.l1{
		top: 250px;
		left: 22%;
	}
	.wrapper .recent ul li.l2{
		top: 47%;
		left: 22%;
	}
	.wrapper .recent ul li.l3{
		top: 71%;
		left: 22%;
	}
	.wrapper .recent ul li.l4{
		top: 95%;
		left: 22%;
	}
/*css phần 4*/
}
