.wrapper{
	width: 980px;
	height: 1200px;
	position: relative;
}
/*css phần 1*/
/*css phần 2*/
/*css phần 3*/
/*css phần 4*/
@media screen and (max-width: 768px){
/*css phần 1*/
/*css phần 2*/
/*css phần 3*/
/*css phần 4*/
}
@media screen and (max-width: 480px){
/*css phần 1*/
/*css phần 2*/
/*css phần 3*/
/*css phần 4*/
}