*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 980px;
	height: 1200px;
	position: relative;
	margin: 0 auto;
	background: url(img/body_bg.jpg) 50% 0 repeat #000;
}
/*css phần 1*/
/*css phần 2*/
.wrapper .tagline{
	width: 100%;
	height: 156px;
	background: #231f20;
}
.wrapper .tagline .cont_pad1{
	width: 96%;
	margin: 0 auto;
	padding: 20px 0;
	/*background: #231f20;*/
}
.wrapper .tagline h2{
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	color: orange;
	margin: 0 0 20px 0;
	line-height: normal;
}
.wrapper .tagline h1{
	font-size: 60px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: white;
    margin: 0 0 10px 0;	
}
.wrapper .content2{
	width: 100%;
	height: 395px;
	/*background: url(img/body_bg.jpg) 50% 0 repeat #000;*/
	margin-top: 40px;
}
.wrapper .content2 .cont_pad2{
	position: relative;
    width: 96%;
    margin: 0 auto;
    padding: 0;
}
.wrapper .content2 .cont_pad2 .box2{
	width: 215px;
	float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper .content2 .cont_pad2 .box2 img{
	background-color: #231f20;
	border-radius: 30px;
	float: left;
    margin-right: 5px;
}
.wrapper .content2 .cont_pad2 .box2 h3{
	/*float: left;*/
	color: #ef9e0f;
	margin: 10px 0px 25px 0;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
    line-height: normal;
}
.wrapper .content2 .cont_pad2 .box2 p{
	line-height: 22px;
    color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 a{
	padding: 8px 32px;
	background-color: #231f20;
	display: inline-block;
    /*padding: 3px 8px;*/
    margin: 22px 0 0 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
.wrapper .content2 .cont_pad2 .box2 h2{
	font-size: 24px;
    margin: 20px 0 20px 0;
    font-weight: 400;
    line-height: normal;
    color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 strong{
	color: #fff;
	font-weight: bold;
}
.wrapper .content2 .cont_pad2 .box2 h6{
	float: left;
	color: #7a7a7a;
	font-weight: bold;
}
.wrapper .content2 .cont_pad2 .box2 a.col{
	color: #ef9e0f;
	background: transparent;
	padding: 3px 8px;
}
.wrapper .content2 .cont_pad2 .box2 a.col:hover{
	color: #7a7a7a;
}
.wrapper .content2 .cont_pad2 .box2 a:hover{
	color: orange;
}
/*.wrapper .content2 .cont_pad2 .last-col{
	margin-bottom: 0px;
}*/
/*css phần 3*/
/*css phần 4*/
@media screen and (max-width: 768px){
	.wrapper{
		width: 100%;
	}
/*css phần 1*/
/*css phần 2*/
.wrapper .tagline{
		margin: 20px 0 20px 0px;
    	padding: 0px;
    	text-align: center;
	}
	.wrapper .tagline .cont_pad1{
		width: 420px;
	}
	.wrapper .tagline .cont_pad1 h2{
		font-size: 20px;
   		font-weight: normal;
	}
	.wrapper .tagline .cont_pad1 h1{
		font-size: 30px;
    	font-weight: normal;
    	line-height: 20px;
	}
	.wrapper .tagline .cont_pad1{
		width: 300px;
	}
	.wrapper .tagline .cont_pad1 h2{
		font-size: 18px;
   		font-weight: normal;
	}
	.wrapper .tagline .cont_pad1 h1{
		font-size: 24px;
    	font-weight: normal;
    	line-height: 24px;
	}
	.wrapper .content2 .cont_pad2{
		width: 420px;
	}
	.wrapper .content2 .cont_pad2 .box2{
		margin-bottom: 30px;
		width: 100%;
   		margin-left: 0;
   		margin-right: 0;
	}
/*css phần 3
/*css phần 4*/
}
@media screen and (max-width: 480px){
	.wrapper{
		width: 100%;
	}
/*css phần 1*/
/*css phần 2*/
	.wrapper .tagline{
		margin: 20px 0 20px 0px;
    	padding: 0px;
    	text-align: center;
	}
	.wrapper .tagline .cont_pad1{
		width: 300px;
	}
	.wrapper .tagline .cont_pad1 h2{
		font-size: 18px;
   		font-weight: normal;
	}
	.wrapper .tagline .cont_pad1 h1{
		font-size: 24px;
    	font-weight: normal;
    	line-height: 24px;
	}
	.wrapper .content2 .cont_pad2{
		width: 300px;
	}
/*css phần 3*/
/*css phần 4*/
}
